/* Estilos da página de Edição */

#edit-post h2 {
    text-align: center;
    margin-bottom: 1rem;
}

#edit-post form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

#edit-post .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#edit-post label {
    margin-bottom: 0.5rem;
}

#edit-post input,
#edit-post textarea {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}

#edit-post textarea {
    min-height: 100px;
}

#edit-post .create-btn {
    background-color: #ffffff;
    color: #0e1217;
    border: 1px solid #ffffff;
    opacity: 1;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    max-width: 100px;
    text-align: center;
    cursor: pointer;
}

#edit-post .create-btn:hover {
    background-color: #0e1217;
    color: #ffffff;
}