/* Estilo das Tags */

h1 {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

h2 {
    margin-top: 15px;
    padding: 0.5rem;
}

form {
    padding: 1.2rem;
    margin-top: 20px;
    text-align: left;
}

input, textarea, select {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 25px;
}

textarea {
    height: 80px;
}

select {
    height: 40px;
}