/* Estilos Globais */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

body {
  background-color: #1c1c1c;
  min-height: 100vh;
  height: 100%;
}

img {
  max-width: 100%;
}

button {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  background: linear-gradient(90deg, #8435de 0%, #b854e8 100%);
  border: none;
  border-radius: 3rem;
  transition: 0.4s;
}

button:hover{
  background: linear-gradient(90deg, #b854e8 0%,  #8435de 100%);
}